html {
    height: 100%;
}

body {
    background-color: #FF3CAC;
    background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    font-family: 'Roboto Mono', monospace;
}

h1,
h3 {
    color: white;
}

button {
    font-family: inherit;
    display: inline-block;
    padding: 0.35em 1.2em;
    border: 0.1em solid #FFFFFF;
    margin: 0 0.3em 0.3em 0;
    border-radius: 0.12em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    text-align: center;
    transition: all 0.2s;
}

button:hover {
    color: #000000;
    background-color: #FFFFFF;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#start {
    margin: 1rem;
}

.grid {
    width: 200px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    background-color: darkslategray;
    border: 10px double;
}

.grid div {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
}

.block:after {
    content: '';
    width: 5px;
    height: 5px;
    display: block;
    top: 2px;
    left: 2px;
    position: relative;
}

.lightcoral {
    background-color: lightcoral;
}

.lightcoral:after {
    background-color: pink;
}


.green {
    background-color: seagreen;
}

.green:after {
    background-color: springgreen;
}


.blue {
    background-color: royalblue;
}

.blue:after {
    background-color: lightskyblue;
}


.orange {
    background-color: tomato;
}

.orange:after {
    background-color: coral;
}


.purple {
    background-color: mediumpurple;
}

.purple:after {
    background-color: fuchsia;
}

.grid .taken {
    outline: none;
}

.grid .taken.played.lightcoral {
    background-color: lightcoral;
    outline: 1px solid black;
}

.grid .taken.played:after {
    content: '';
    width: 5px;
    height: 5px;
    display: block;
    top: 2px;
    left: 2px;
    position: relative;
}



.grid .taken.played.lightcoral:after {
    background-color: pink;
}

.grid .taken.played.green {
    background-color: seagreen;
    outline: 1px solid black;
}


.grid .taken.played.green:after {
    background-color: springgreen;
}

.grid .taken.played.blue {
    background-color: royalblue;
    outline: 1px solid black;
}


.grid .taken.played.blue:after {
    background-color: lightskyblue;
}

.grid .taken.played.orange {
    background-color: tomato;
    outline: 1px solid black;
}


.grid .taken.played.orange:after {
    background-color: coral;
}

.grid .taken.played.purple {
    background-color: mediumpurple;
    outline: 1px solid black;
}


.grid .taken.played:after {
    background-color: fuchsia;
}

.grid-container {
    display: flex;
}

.mini-grid {
    margin-left: 50px;
    width: 80px;
    height: 80px;
    display: flex;
    flex-wrap: wrap;
    background-color: darkslategray;
    border: 5px double;
}

.mini-grid div {
    width: 20px;
    height: 20px;
    outline: 1px solid black;
}